html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    min-height: 100vh;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.card {
    /* background: #fefefe; */
    background: grey;
    border-radius: 1.5rem;
    max-width: 40rem;
    width: 100%;
    padding: 2rem;
}

.person {
    display: flex;
    align-items: flex-start;
}

.person__photo {
    width: 100%;
    margin-right: 2rem;
}

.person__header {
    margin-bottom: 1.5rem;
}

.person__description {
    text-align: justify;
    line-height: 1.5rem;
}

.person__name {
    margin: 0;
    font-weight: normal;
    font-size: 2rem;
}

.person__position {
    font-style: italic;
}

.person__link {
    text-decoration: none;
    color: #bf1363;
}