@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    align-items: center;
    background: #777;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    min-height: 100vh;
}

.card {
    align-items: center;
    display: flex;
    border-radius: 2px;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40rem;
    position: relative;
}

.person {
    align-items: center;
    background: #444;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    position: relative;
    transition: .3s;
    transform: translateY(100px);
    width: 40rem;
    z-index: 2019;
}

.person__contain {
    opacity: .3;
}

.person__contain:hover {
    opacity: 1;
}

.person__contain-image {
    margin-top: 1.5rem;
}

.person__description {
    color: cadetblue;
    text-transform: uppercase;
}

.card:hover .person {
    background: #ff0057;
    transform: translateY(0);
}

.person1 {
    position: relative;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
    transition: .3s;
}

.card:hover .person1 {
    transform: translateY(0);
}